<div class="oaq-theme-wrapper {{ theme$ | async }}-theme">
  <!-- Toolbar -->
  <mat-toolbar class="oaq-toolbar" color="primary">
    <div class="main-title">Accenture - Code.Now!</div>

    <div class="nav-tool-items">
      <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
    </div>

    <mat-button-toggle-group
      #groupTheme="matButtonToggleGroup"
      [value]="theme$ | async"
      (change)="onThemeToggle(groupTheme.value)">
      <mat-button-toggle value="default">
        Light
      </mat-button-toggle>
      <mat-button-toggle value="dark">
        Dark
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group
      #groupLanguage="matButtonToggleGroup"
      [value]="language$ | async"
      (change)="onLanguageToggle(groupLanguage.value)">
      <mat-button-toggle value="en">
        English
      </mat-button-toggle>
      <mat-button-toggle value="de">
        Deutsch
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar>

  <mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav
      #sidenav
      class="oaq-sidebar"
      [mode]="(isMobile$ | async) ? 'over' : 'side'"
      [opened]="(isMobile$ | async) === false"
    >
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          <span matLine>{{ 'app.navigation.main.item.dashboard' | translate }}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
