# The env files are loaded in the following order, if they exist,
# if a variable is found in multiple files, the first one takes precedence
#
#  * .env.local          uncommitted file with local overrides
#  * .env                contains default values for the environment variables needed by the app

# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.

# nest app configuration
APP_GREETING="Hello World!"
APP_PORT=4000
NODE_ENV='development'
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
CLIENT_HOST=https://localhost

# postgres db configuration
POSTGRES_DB=oaq-pg-db
POSTGRES_USER=oaq-pg-user
POSTGRES_PASSWORD=oaq-pg-secret
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
